.joystick {
  aspect-ratio: 1/1;
  height: 100%;
  background-color: var(--color-background-secondary);
  position: relative;
}
.joystick .stick {
  background-color: var(--color-button);
  width: 75px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform-origin: center;
  position: absolute;
  top: calc(50% - 75px/2);
  left: calc(50% - 75px/2);
}
.joystick .stick.transition {
  transition: transform 0.1s;
}
.joystick .stick:active {
  background-color: var(--color-button-secondary);
}
